BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Stroustrup
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
IndentAccessModifiers: false
RequiresClausePosition: OwnLine
