BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: 0

BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
